.container {
  color: #121212;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row !important;
  align-items: center;

  margin: 10px 0;
  padding: 3px;
}
.container table {
  border-spacing: 0;
}
.tbody {
  border-radius: 12px;
}
.tbody tr {
  padding: 20px;
}
.tbody th {
  background-color: white;
  margin-left: 15px;
  padding: 5px 20px;
  text-align: left;
}
.tbody td { background-color: white;
  padding: 5px 20px;
}
.tbody td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}
.tbody td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
.container th {
  padding-left: 20px;
  text-align: left;
}
.container th:first-of-type {
  padding-left: 20px;
}
.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
    width: 85%;
  }
  .container table {
    border-spacing: 0 15px;
  }
  .container th {
    padding-left: 15px;
  }
  .tbody tr {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 20px;
  }

  .tbody td {
    padding: 15px;
  }
  .tbody th {
    padding: 15px 15px 15px 20px;
  }
}
